.dialogUser {
  background-color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 5px;
  outline: 2px rgb(10, 10, 10, 0.1) solid;
  border-radius: 5px;
}

.avatar {
  height: 40px;
}

.dialogUser:hover {
  outline: gold 2px solid;
  transition: outline-width ease-in-out .3s;
}

.dialogUser:active {
  outline: rgb(420, 0, 90, 0.3) 2px solid;
}
