.appSidebar {
  text-align: left;
  margin-left: 30px;
  border-radius: 14px;
}

.item a{
  color: black;
  font-weight: bold;
}

.item a:hover {
  color: gold;
  transition: color ease-out .4s;
  cursor: pointer;
}

.item a.activeLink{
  color: red;
}
