.container {
  padding: 5px 20px 5px 5px;

}

.input {
  width: 100%;
  border-radius: 5px;
  min-height: 80px;
  outline: none;
  border: none;
  outline: 2px rgb(10, 10, 10, 0.3) solid;
  border-radius: 5px;
}

.button {
  margin-top: 5px;
  height: 30px;
  width: 80px;
  border: none;
  outline: 2px rgb(10, 10, 10, 0.3) solid;
  border-radius: 5px;

}

.button:hover {
  outline: rgb(420, 0, 90, 0.3) 3px solid;
  cursor: pointer;
}

.input:focus {
  outline: rgb(420, 0, 90, 0.3) 3px solid;
}