.message {
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
  min-height: 40px;
  background-color: rgb(10, 10, 10, 0.03);
  border-radius: 3px;
}

.avatar {
  height: 40px;
  border-radius: 20px;
  margin-right: 10px;
}

.container {
  padding-top: 10px;

}

.karmaButton {
  margin-top: 5px;
  height: 30px;
  width: 30px;
  border-radius: 5px;
  background-color: rgb(420, 0, 90, 0.4);
  border: none;
}

.karmaButton:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px rgb(420, 0, 90, 0.6);
  transition: box-shadow ease-out .3s;
}