.container {
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 30px;
  outline: 2px rgb(10, 10, 10, 0.1) solid;
  border-radius: 5px;
  display: flex;
}

.info {
  display: flex;
  flex-direction: column;
  height: 180px;
}

p {
  margin: 0px;
  padding: 5px 5px 0px 30px;
}

.avatar {
  margin-top: 10px;
  margin-left: 10px;
  height: 120px;
  width: 120px;
  border-radius: 5px;
  object-fit: contain;
}