.img {
  height: 95px;
  /*width: 145px;*/

}



.appHeader {
  border-radius: 0 0 5px 5px;
  background-color: rgb(420, 0, 90, 0.3);
  min-height: 100px;
  height: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}